* {
    <!-- Ta bort margin/padding och se till att bredden är den vi sätter själva -->
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear:after {
    content: "";
    display:table;
    clear:both;
}

body {
    font-family: sans-serif, Arial;
    font-size: 18px;
}

h1, h2 {
    color:#0d97c6;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

p {
    text-align: justify;
}

#textfakta {
    text-align: right;
}

.bildtext {
    color: #c10000;
    margin-top: 10px;
    margin-left: 40px;
}

.container {
    width: 1140px;
    margin: 15px auto 0 auto;
}
.main-posts {
    width: 75%;
    padding-right: 20px;
    float:left;
}

.recent-posts {
    width: 25%;
    float:left;
}

.daily-fact {
    border-top: 2px solid #000;
    margin-top: 10px;
}

.daily-fact img {
    width: 200px;
}

.recent {
    margin-bottom: 50px;
}
